@import "colors.css";

.topBar {
  /*position and size*/
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0px;
  width: 100%;
  text-align: center;
  /*colors*/
  background-color: var(--steelblue);
  box-shadow: 5px 2px 10px grey;
  /*font*/
  color: white;
  font-family: sans-serif;
  font-weight: 200 !important;
}

.pageDesc {
  /* Add a top margin to avoid content overlay */
  margin-top:125px;
  text-align: center;
  /*font*/
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--darkbluefont);
}

.pageContent{
  margin: 50px;
  text-align: center;
}

#pagination-container{
text-align: center;

}

.pageButton {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid dimgray;
  box-shadow: 0px 0px 5px grey;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  background-color: var(--steelblue);
  cursor:pointer;
}

#pageNumbers{
  font-family: sans-serif;
  font-size: 22px;
  color: grey;
  cursor: pointer;
  
}

.highlight{
  color: var(--steelblue);

}

.pageSizeButton {
  background-color: var(--steelblue);
  color: white;
  border: none;
  box-shadow: 0px 0px 5px grey;
  font-family: sans-serif;
  font-size: 18px;
  margin: 20px 5px 20px 5px;
  cursor: pointer;
  text-align: center;

}



